

#####################################
# Ollama Configuration
#####################################

OLLAMA_HOST=http://ollama:11434
OLLAMA_PORT=11434
OLLAMA_KEEP_ALIVE=1m
OLLAMA_MODEL=phi3:mini

#####################################
# Optional
#####################################
TZ=Asia/Kolkata

#####################################
# API Keys Configuration
#####################################
OPENAI_API_KEY=
OPEN_ROUTER_API_KEY=
GROQ_API_KEY=
GOOGLE_API_KEY=
HUGGING_FACE_API_KEY=
LANGCHAIN_API_KEY=

