langchain
python-dotenv
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
langchain-groq
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
langchain-classic
langchain-ollama
streamlit